@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

@layer base {
  blockquote {
    @apply text-2xl p-4 italic;
  }
  h2 {
    @apply text-2xl font-bold mt-6 mb-4;
  }
  h3 {
    @apply text-xl font-bold mt-4 mb-2;
  }
  p {
    @apply p-2;
  }
  a {
    @apply text-blue-500 hover:text-gray-900;
  }
}
